/***********************************************************
FOOTER Style Guide
************************************************************/
.footer { 
    position: sticky;
    width:    100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: medium solid rgba(37, 117, 252, 1);
    border-right: medium solid rgba(37, 117, 252, 1);
    border-left: medium solid rgba(37, 117, 252, 1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #F1F1F1;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.company {
    position: sticky;
    width:    100%;
    background-color: rgba(37, 117, 252, 1); 
    color: #F1F1F1;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    text-align: center;
    align-self: center;
    justify-content: center;
}
