/***********************************************************
Footer Style Guide
************************************************************/

.footer {
    position: sticky;
    display: flex;
    width: auto;
    height: auto;
    padding-top: 1rem;
    background-color: rgba(9, 25, 52, 1);
    border: medium solid rgba(37, 117, 252, 1);
    color: aliceblue;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.company {
    position: sticky;
    display: flex;
    padding-bottom: 1rem;
    width: auto;
    height: auto;
    border-bottom: medium solid rgba(37, 117, 252, 1);
    border-right: medium solid rgba(37, 117, 252, 1);
    border-left: medium solid rgba(37, 117, 252, 1);
    color: aliceblue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    align-self: center;
    justify-content: center;
}