/***********************************************************
Footer Style Guide (Not in Use; need to figure this out)
************************************************************/

.footer {
    position: sticky;
    width: auto;
    height: auto;
    background-color: rgba(9, 25, 52, 1);
    border: medium solid rgba(37, 117, 252, 1);
    color: aliceblue;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.company {
    position: sticky;
    border-bottom: medium solid rgba(37, 117, 252, 1);
    border-right: medium solid rgba(37, 117, 252, 1);
    border-left: medium solid rgba(37, 117, 252, 1);
    color: aliceblue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    align-self: center;
    justify-content: center;
}