/***********************************************************
Search Bar Style Guide
************************************************************/
.search {
    overflow: hidden;
}

.search input[type=text] {
    float: right;
    padding: 6px;
    margin: 8px 16px 8px 20px;
    border: medium solid rgba(9, 25, 52, 1);
    font-size: 15px;
    color: black;
}

.search .search-container {
    float: right;
}

.search .search-container button {
    float: right;
    padding: 8px 10px;
    margin: 10px 0px 5px 0px;
    background: rgba(9, 25, 52, 1);
    color: aliceblue;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.search .search-container button:hover {
    background: rgba(37, 116, 252, 0.364);
}

.search a {
    color: aliceblue;
    margin: 8px 0px 8px 680px;
    text-decoration: underline;
    font-size: 40px;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}