<footer id="footer">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
      </script>

    <!-- Code for footer starts here -->
    <div>
      <!-- Section: Review Websites Icon -->
      <section
        class="footer gradient-custom col-md-4 list-unstyled d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- IMDb -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.imdb.com/">
          <img src="../../resources/img/IMDb.png" alt="IMDb" style="width:42px;height:42px;">
        </a>

        <!-- TMDB -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.themoviedb.org/?language=en-US">
          <img src="../../resources/img/TMDB.png" alt="TMDB" style="width:42px;height:42px;">
        </a>

        <!-- Blank for now -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://library.honolulu.hawaii.edu/movies">
          <img src="../../resources/img/NeedAnotherScr.png" alt="Blank" style="width:42px;height:42px;">
        </a>
      </section>
      <!-- END Section: Review Websites Icon -->

      <!-- Section: Company Information  -->
      <section class="footer">
        <div class="text-md-start">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                Really Really Good Company Name
              </h6>
              <p>
                Welcome to the Top Review for all your movie review needs. We at Really Really Good Company Name
                appreciate you coming to our website.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column: Contact -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                1111 Engineering Dr, Boulder, CO 80309</p>
              <p>
                TopReview@example.com
              </p>
            </div>
            <!-- Grid column: Contact -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <div class="company gradient-custom p-4">
        <b>&copy; Copyright 2023 : Good Website Company LTM. LLC.</b>
      </div>

    </div>
    <!-- END Grid container -->
  </footer>
</body>

</html>