<footer id="footer">
  <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

  <!-- Code for footer starts here -->
  <div>
    <!--having issues with an overlay of the navigationBar and footer. Padding may help style="padding-top: 50px; padding-left: 240px;"-->
    <!-- Section: Review Websites Icon -->
    <section
      class="footer gradient-custom d-flex justify-content-lg-between">

      <!-- TMDB -->
      <a class="btn btn-outline-light m-1" href="https://www.themoviedb.org/?language=en-US">
        <img src="/img/TMDB.png" alt="TMDB" style="width:42px;height:42px;">
      </a>

      <!-- LetterBoxd -->
      <a class="btn btn-outline-light m-1" href="https://letterboxd.com/">
        <img src="/img/Letterboxd.png" alt="LetterBox" style="width:70px;height:42px;">
      </a>
    </section>
    <!-- END Section: Review Websites Icon -->

    <!-- Section: Company Information  -->
    <section class="footer">
      <div class="text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Really Really Good Company Name
            </h6>
            <p>
              Welcome to the Top Review for all your movie review needs. We at Really Really Good Company Name
              appreciate you coming to our website.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column: Contact -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              1111 Engineering Dr, Boulder, CO 80309</p>
            <p>
              TopReview@example.com
            </p>
          </div>
          <!-- Grid column: Contact -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <div class="company gradient-custom p-4">
      <b>&copy; Copyright 2023 : Good Website Company LTM. LLC.</b>
    </div>

  </div>
  <!-- END Grid container -->
</footer>
</body>
</html>