<%- include ('../partials/header') %>
    <main>
        <!-- Search Bar content -->
        <div class="gradient-custom search"> 
            <a href="#footer">TopReview</a>
            <div class="search-container">
                <!-- I believe we are going to have to put an action for the search feature -->
                <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <%- include ('../partials/navigationBar') %>

        <div class="container text-center" id="movies">
            <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        </div>
    </main>
<%- include ('../partials/footer') %>