<%- include ('../partials/header') %>
<%- include ('../partials/navigationBar') %>
    <main>
        <div class="container text-center" id="movies">
            <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        </div>
    </main>
<%- include ('../partials/footer') %>