<%- include ('../partials/header') %>
<%- include ('../partials/navigationBar') %>
<main class="gradient-custom">
    <div class="card-group" id="review">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Positive</h5>
                <p class="card-text">Summary of the positive reviews</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Positive</h5>
                <p class="card-text">Summary of the positive reviews</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Positive</h5>
                <p class="card-text">Summary of the positive reviews</p>
            </div>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %>