<%- include ('../partials/header') %>
<div class="container-fluid gradient-custom flex">
    <div class="column-left-sm">
        <a class="btn bg-dark" href="/home" role="button">
            <i class="bi bi-arrow-return-left" style="color: white;"></i>
        </a>
    </div>
    <div class="column-left-large">
        <div class="card card-photo bg-dark">
            <img src="<%= movie[0].image_url %>">
        </div>
    </div>
    <div class="column-right">
        <div class="card card-review bg-dark">
            <h2 class="fw-bold mb-2 text-uppercase title text">TMDB</h2>
        </div>
        <div class="card card-review bg-dark">

        </div>
    </div>
</div>

<%- include ('../partials/footer') %>